* { 
    margin: 0;
    padding: 0;
}

.title {
    color: #4a2932 !important;
}   

button {
    border-radius: 1rem;
    transition: all 1s ease-in; 
}

button:hover {
    background-image: linear-gradient(
        #4a2932,
        #a34c50
    );
}

.btn {
    background-color: transparent;
}

.display{
    color: #4a2932!important;
}

#btncontainer {
    display: flex;
    align-items: center;
    justify-content: center;
}


 .inactive {
        color: #4a2932 !important;
}

.nav-pills {
    --bs-nav-pills-link-active-bg: #4a2932 !important;  
    --bs-nav-pills-link-active-color: #cec2ae !important;
    font-size: 30pt;
} 

