* { 
    margin: 0;
    padding: 0;
}
.title {
    font-size: 50pt;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    align-self: center;
}

button {
    border-radius: 1rem;
    transition: all 1s ease-in; 
}

button:hover {
    background-image: linear-gradient(
        rgb(17, 0, 255),
        rgb(238, 0, 255)
    );
}

#btncontainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gridContainer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 85% 15%;
    grid-template-areas: "content content content content"
    "home todo achievements settings";
}

.home {
    grid-area: home;
}

.todo {
    grid-area: todo;
}

.achievements {
    grid-area: achievements;
}

.settings {
    grid-area: settings;
}

.content {
    grid-area: content;
}