* { 
    margin: 0;
    padding: 0;
    background-color: #cec2ae;
}

.title {
    font-size: 50pt;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    align-self: center;
}   

button {
    border-radius: 1rem;
    transition: all 1s ease-in; 
}

button:hover {
    background-image: linear-gradient(
        rgb(17, 0, 255),
        rgb(0, 110, 255)
    );
}

#btncontainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 'home todo achievements settings';
}

.home {
    grid-area: home;
}


    /* .nav-link {
        color: #e94445 !important;
    }

    .nav-pills {
        --bs-nav-pills-link-active-bg: #e94445 !important;  
        --bs-nav-pills-link-active-color: #cec2ae !important;
    } */



.todo {
    grid-area: todo;
}

.achievements {
    grid-area: achievements;
}

.settings {
    grid-area: settings;
}
